


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Деканат ICS</title>
    <link rel="stylesheet" href="cssIndex/style.css">
    <style type="text/css">
        #mainBlock {
            
            height: 500px;
            width: 150%;
            margin: 0;
            padding: 0;
        }
        .button-5 {
            text-decoration: none;
            display: inline-block;
            position: relative;
            padding: 15px 30px;
            color: #766AD0;
            border: 1px solid #3A374C;
            font-size: 14px;
            font-weight: 700;
            white-space: nowrap;
            transition: .3s linear;
            margin: 10px;
            
        }

            .button-5:before, .button-5:after, .link-content:before, .link-content:after {
                content: "";
                position: absolute;
                z-index: 1;
                width: 15px;
                height: 15px;
                transition: .3s linear;
            }

            .button-5:before {
                left: -1px;
                top: -1px;
                border-left: 1px solid #614DFF;
                border-top: 1px solid #614DFF;
            }

            .button-5:after {
                bottom: -1px;
                right: -1px;
                border-bottom: 1px solid #614DFF;
                border-right: 1px solid #614DFF;
            }

        .link-content:after {
            right: -1px;
            top: -1px;
            border-right: 1px solid #614DFF;
            border-top: 1px solid #614DFF;
        }

        .link-content:before {
            left: -1px;
            bottom: -1px;
            border-bottom: 1px solid #614DFF;
            border-left: 1px solid #614DFF;
        }

        .button-5:hover {
            color: #614DFF;
            border-color: #614DFF;
        }
        body {
            font-family: arial, sans-serif;
            color: white;
            position: absolute;
            left: 10%;
            right: 10%;
            bottom: 0%;
            top: 0%;
            background: #242132;
      
    </style>

</head>

    <body>
        <div id="mainBlock">
            <br\>
                <a href="https://localhost:44313/Home/AddStudent" class="button-5"> <span> Додати студента </span> </a>
                <a href="https://localhost:44313/Home/AddResults" class="button-5"> <span> Додати результати </span> </a>
                <a href="https://localhost:44313/Home/AddSubject" class="button-5"> <span> Додати дисципліну </span> </a>
                <a href="https://localhost:44313/Home/AddSpecial" class="button-5"> <span> Додати спеціальність </span> </a>
                <a href="https://localhost:44313/Home/AddSkip" class="button-5"> <span> Додати пропуски студента </span> </a>


       
</div>

    </body>
</html>